* {
	margin: 0;
	padding: 0;
}

body {
  font-family: SegoeUI-Semibold, "Segoe UI Semibold", "Segoe UI Regular", "Segoe UI";
}

div.pageLayout {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

div.pageLayoutLeft {
	position: relative;
	float: left;
	height: 100%;
	width: 40%;
	background: url(aia_eaa_home_landingleftbg.png) no-repeat right bottom #D31145;
	background-size: 100% 100%;
	display: flex;
}

/* div.pageLayoutLeftTable{ padding: 40% 50px 0; overflow: hidden; height: 280px;} */
div.pageLayoutLeftTable {
	/* position: absolute;
	top: 35%;
	left: 0;
	right: 0; */
	/* height: 100%; */
	padding: 0 50px 0;
	overflow: hidden;
	/* height: 280px; */
	display: grid;
	place-items: center;
}

table.LandingPageSystemName {
	width: 100%;
	border-collapse: collapse;
	height: 100%;
}

table.LandingPageSystemName thead tr th {
	line-height: 66px;
	border-bottom: 0px solid rgba(255, 255, 255, 0.5);
	padding-bottom: 30px;
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	text-align: left;
}

table.LandingPageSystemName tbody tr td {
	line-height: 30px;
	padding-top: 20px;
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	opacity: 0.8;
}

table.LandingPageSystemName tbody tr th {
	line-height: 30px;
	opacity: 0.9;
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
}

img.landingLeftPic01 {
	position: absolute;
	bottom: 30px;
	right: 50px;
	width: 168px;
}
img.landingLeftlogo{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 73px;
}

.spraeLine {
	background: url(aia_eaa_home_spreaLine.png) no-repeat right center;
}

div.bottomBox{ position: absolute;left: 0;right: 0; bottom: 0; height: 75px; background-color: #B1143D; opacity: 0.7;}
div.bottomBox table{ width: 100%; border-collapse: collapse;}
div.bottomBox table tr td,div.bottomBox table tr th{padding: 15px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px; 
color: #FFFFFF;
}
div.bottomBox table tr td{text-align: left;}
div.bottomBox table tr th{text-align: right;}




div.pageLayoutRight {
	position: relative;
	float: right;
	height: 100%;
	width: 60%;
	overflow: hidden;
	background: url(aia_eaa_home_landingpagerightbg01.png) no-repeat right center #D31145;
	background-size: 100% 100%;
	display: flex;
}

/* div.pageLayoutRightTable{ padding: 20% 10% 0;height: 100%;} */
div.pageLayoutRightTable {
	/* position: absolute;
	top: 26%; */
	padding: 0 10% 0;
	/* left: 0;
	right: 0; */
	width: 100%;
	display: flex;
	place-items:center;
}

table.pageLayoutRightTable {
	width: 100%;
	border-collapse: collapse;
}

table.pageLayoutRightTable thead tr th {
	width: 33.33%;
}

table.pageLayoutRightTable thead tr td.NumBox {
	width: 33.33%;
}

table.pageLayoutRightTable tfoot tr td {
	width: 110px !important;
}

div.menuBar {
	height: 80px;
	position: relative;
	padding: 10px 100px;
	margin-bottom: 16px;
	border-radius: 8px;
	background-color: #fff;
	cursor: pointer;
	opacity: 0.9;
}

div.menuBar:hover {
	opacity: 1;
}

span.iconTag {
	position: absolute;
	left: 14px;
	top: 14px;
	width: 64px;
	height: 64px;
	border: 2px solid #D31145;
	border-radius: 64px;
}

.icon_addEAA {
	background: url(aia_eaa_home_icon_addeaa.png) no-repeat center;
}

.icon_adddashboard {
	background: url(aia_eaa_home_icon_dashboard.png) no-repeat center;
}

.icon_guid {
	background: url(aia_eaa_home_icon_guid.png) no-repeat center;
}

div.menuBar h1 {
	clear: both;
	line-height: 32px;
	padding-top: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #333D47;
	text-align: left;
}

div.menuBar h2 {
	clear: both;
	line-height: 20px;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: #848A90;
	text-align: left;
	letter-spacing: 1px;
}

a.arrowRight {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 64px;
	background: url(aia_eaa_home_arrowrght.png) no-repeat center;
	background-size: 32px auto;
	opacity: 0.8;
}

a.arrowRight:hover {
	opacity: 1;
}

a.downloadIcon {
	background: url(aia_eaa_home_download.png) no-repeat center !important;
}

/***/
div.NumberBox {
	height: 80px;
	position: relative;
	padding: 10px 10px;
	margin-right: 10px;
	margin-bottom: 16px;
	border-radius: 8px;
	background-color: #333D47;
	cursor: pointer;
	opacity: 0.95;
}

div.NumberBoxWithoutCursor {
	height: 80px;
	position: relative;
	padding: 10px 10px;
	margin-right: 10px;
	margin-bottom: 16px;
	border-radius: 8px;
	background-color: #333D47;
	opacity: 0.95;
}

.MarginRightEmpty {
	margin-right: 0 !important;
}

.borderRadia01 {
	border-radius: 8px 0 0 8px !important;
}

.borderRadia02 {
	border-radius: 0 8px 8px 0 !important;
	;
}

div.NumberBox h1,div.NumberBoxWithoutCursor h1 {
	clear: both;
	line-height: 32px;
	padding-top: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

div.NumberBox h2,div.NumberBoxWithoutCursor h2 {
	clear: both;
	line-height: 16px;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: #D6D8DA;
	text-align: center;
	letter-spacing: 1px;
}
div.NumberBox h2 font,div.NumberBoxWithoutCursor h2 font{ font-size: 12px;}

div.SystemSetting {
	height: 80px;
	padding: 10px;
	margin-bottom: 16px;
	margin-left: 10px;
	border-radius: 8px;
	background-color: #fff;
	cursor: pointer;
	opacity: 0.9;
}

div.SystemSetting:hover {
	opacity: 1;
}

div.SystemSetting a {
	display: block;
	margin: 5px auto;
	height: 64px;
	width: 64px;
	border: 2px solid #D31145;
	border-radius: 64px;
	background: url(aia_eaa_home_icon_setting.png) no-repeat center;
}


table.tFootTable {
	width: 100%;
	border-collapse: collapse;
}

table.tFootTable tr td {
	width: 110px;
}